body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #0f172a;
  color: white;
}

input,
button {
  padding: 8px;
  font-size: 14px;
}

input {
  width: 250px;
  margin-right: 10px;
}

.dashboard {
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  /* LEFT - CENTER - RIGHT */
  gap: 2vw;
  margin-top: 20px;
  align-items: start;
}

#rankInfo {
  background: #1e293b;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #334155;
}

.match-card {
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #1e293b;
  border: 2px solid #334155;
  width: 100%;
  max-width: 850px;
  box-sizing: border-box;
  cursor: pointer;
}

.match-card.win {
  border-left: 8px solid #3b82f6;
}

.match-card.loss {
  border-left: 8px solid #ef4444;
}

.items img {
  width: 28px;
  height: 28px;
  margin-right: 4px;
  vertical-align: middle;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.match-details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #475569;
  display: none;
}

.match-details.visible {
  display: block;
}

.player-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.player-table th,
.player-table td {
  padding: 6px;
  text-align: center;
  border-bottom: 1px solid #334155;
}

.player-table td img,
.player-table td .empty-slot {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-right: 4px;
}

.bar {
  height: 8px;
  background: #3b82f6;
  display: inline-block;
}

.team-header {
  text-align: left;
  padding: 8px;
  font-weight: bold;
}

.team-defeat {
  background-color: rgba(239, 68, 68, 0.2);
}

.team-victory {
  background-color: rgba(59, 130, 246, 0.2);
}

.empty-slot {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #334155;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
}
